{% extends '::base.html.twig' %}
{% block body %}
{{ include('::nav.html.twig') }}
<div class="container">
<div class="page-header">
	<h1>Arrivals Ordering <font color="blue"><a href=""></a></font></h1>
</div>
</div>
<div class="container">
<div class="row">
	<div class="col-md-8">
<ul id="sortable">
{% for image in images %}
	<li id="{{ image.event.eventId }}_{{image.id}}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>{{image.title}}
    <a href=""><span style="padding: 10px 10px 0; float: right;" class="glyphicon glyphicon-trash float: right;"></span></a></li>
{% endfor %}
</ul>
</div>
<div class="col-md-2">
    <button id="savepostion" name="submit" type="submit" class="btn btn-lg btn-success">Save Order &raquo;</button>
</div>
	</div>
</div>
</div>
{% endblock %}