body {
  padding-top: 40px;
}

#example th {
	text-align:center;
}

.update-event {
	margin-top: 20px;
	padding-left: 200px;
}

.event-text {
	padding-bottom: 10px;
}

.bracket-padding {
	padding: 5px
}

.progress-padding {
	padding: 25px
}

.progress-title-padding {
	padding-left: 16px;
}

.bracket-button-padding {
	padding-left: 60px;
}

.navbar {
  background-color: #000; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  min-height:10px !important;
  font-size:10px;
  height:35px;
  
}

.navbar-brand{
    font-size:14px !important;
    padding-bottom:5px !important;
    padding-top:5px !important;
}

/*Change our top level link padding*/
.navbar-nav > li > a {
	font-size:14px !important;
    padding-top: 8px !important;
    padding-bottom: 5px !important;
}

.btn-margin-left {
    margin-left: 10px;
}
.btn-margin-right {
    margin-right: 10px;
}

.breadcrumb {background: rgba(255, 255, 255, 1); border: 0px solid rgba(255, 255, 255, 1); border-radius: 0px; display: block;}
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: rgba(66, 139, 202, 1);}
.breadcrumb a:hover {color: rgba(42, 100, 150, 1);}
.breadcrumb>.active {color: rgba(153, 153, 153, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\002F\00a0";}
