{% extends '::base.html.twig' %}
{% block body %}
{{ include('::nav.html.twig') }}
<div class="container">
	<p></p>
	<div class="update-event">
		<a href="index.php" class="btn btn-info btn-mini"><span class="glyphicon glyphicon-arrow-left"></span>  Back to View All Events</a> &nbsp;&nbsp;
	<div class="event-text">
		<h1>Create Event</h1>
	</div>
	</div>
</div>
<div class="container">
<form method="post" action="create" class="form-horizontal" role="form">
		<div class="form-group">
			<div class="col-xs-4">
				<input class="form-control input-lg" type="text" name="event_name" id="event_name" size="36" required="required" placeholder="Event Name" />
			</div>
		</div>
		<div class="form-group">
			<label for="event_description" class="col-sm-2 control-label">Description</label>
			<div class="col-xs-4">
				 <textarea class="form-control" id="description" name="event_description" size="36" required="required"></textarea>
			</div>
		</div>
		<div class="form-group">
   			<div class="col-sm-offset-2 col-sm-10">
   				<button name="submit" type="submit" class="btn btn-lg btn-primary">Create Event</button>
    		</div>
  		</div>
	</form>
</div>
{% endblock %}