{% extends '::base.html.twig' %}
{% block body %}
{{ include('::nav.html.twig') }}
<div class="container">
    <div class="page-header">
        <h1>Event Dashboard : <font color="blue">2014_oscar_test</font></h1>
    </div>
        <div class="col-sm-4">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title"><span class="glyphicon glyphicon-camera"></span>&nbsp;&nbsp;Arrivals</h3>
            </div>
            <div class="panel-body">
                <a href="item.php?event_id=158&amp;type_id=5">Create Arrivals</a><br/>
        	    <a href="items-published.php?event_id=158&amp;type_id=5">Published Arrivals</a>
            </div>
          </div>
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title"><span class="glyphicon glyphicon-flash"></span>&nbsp;Site State</h3>
            </div>
            <div class="panel-body">
                <a href="item.php?event_id=158&amp;type_id=4">Create Site States</a><br/>
        		<a href="items-published.php?event_id=158&amp;type_id=4">Published Site States</a>
            </div>
          </div>
            
         
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
        	<div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><span class="glyphicon glyphicon-link"></span>&nbsp;JSON Feeds</h3>
            </div>
            <div class="panel-body">
               <a href="http://www.people.com/people/static/common/gallerytool/json/2014_oscar_test/config.json" target="_blank">Config</a><br/>
               <a href="http://www.people.com/people/static/common/gallerytool/json/2014_oscar_test/photos.json" target="_blank">Arrival</a><br/>
            </div>
          </div>
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span>&nbsp;Empty</h3>
            </div>
            <div class="panel-body">
               <a href="" target="_blank"></a><br/>
		       <a href="" target="_blank"></a>
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
         <div class="row">
        <div class="col-sm-4">
          <ul class="list-group">
            <li class="list-group-item active">
                <span class="glyphicon glyphicon-tower"></span>&nbsp;General Event Information 
            </li>
            <li class="list-group-item">
                <b>Full Name: </b>2014_Oscar_Test            
            </li>
            <li class="list-group-item">
                <b>Short Name: </b>&nbsp;&nbsp;2014_oscar_test
            </li>
            <li class="list-group-item">
                <b>Event Type: </b>Red Carpet Full            </li>
            <li class="list-group-item">
                <b>Arrival Name: </b>2014_Oscar_arrival            </li>
            <li class="list-group-item">
               <b>Package URL: </b> <a href="http://people.com" target="_blank">http://people.com</a>
           </li>
            <li class="list-group-item">
               <b>Whitelabel Page URL: </b> <a href="http://people.com" target="_blank">http://people.com</a>
           </li>
            <li class="list-group-item">
               <b>Mobile Gallery URL: </b> <a href="http://people.com" target="_blank">http://people.com</a>
           </li>
            <li class="list-group-item">
                <a href="event-update.php?event_id=158">Update Event Names</a>&nbsp;&nbsp;
                <span class="glyphicon glyphicon-flag"></span>
            </li>
            <li class="list-group-item">
                <a href="config-edit.php?event_id=158">Event Config</a>&nbsp;&nbsp;
                <span class="glyphicon glyphicon-flag"></span>
            </li>
         </ul> 
        </div><!-- /.col-sm-4 -->
      </div>
{% endblock %}