<div class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="{{ asset('bundles/entertainmentguidetothestars/img/people-logo-new.png') }}" alt="People.com" /></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li><a href="{{ path('entertainment_redcarpet_event_index') }}">View All Events</a></li>
      </ul>
        {% if event is defined %}
        <ul class="nav navbar-nav">
            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ event.eventName }} <span class="caret"></span></a>
	              <ul class="dropdown-menu" role="menu">
	                <li><a href="{{ path('entertainment_redcarpet_event_config', {'eventId': event.id}) }}">Event Config</a></li>
	                <li class="divider"></li>
	                <li class="dropdown-header">Applications Activated</li>
	                 {% if event.isArrivals %} <li><a href="#">Arrivals</a></li>{% endif %}
	                 {% if event.isGuideToStars %} <li><a href="#">Guide To The Stars</a></li>{% endif %}
	                 {% if event.isBrackets %} <li><a href="#">Bracketology</a></li>{% endif %}
	              </ul>
            </li>
         </ul>
         {% endif %}
    </div><!--/.nav-collapse -->
  </div>
</div>

 