{% extends '::base.html.twig' %}
{% block body %}
{{ include('::nav.html.twig') }}
<div class="container">
<ol class="breadcrumb">
  <li>  
    <a href="{{ path('entertainment_redcarpet_event_dashboard', {'eventId': event.id}) }}">{{ event.eventName }}</a>
  </li>  
  <li>
  	<a href="{{ path('entertainment_guidetothestars_star_index', {'eventId': event.id}) }}">Guide To The Stars</a>
  	
  </li>  
  <li class="active">Add Content</li>
</ol>  
	
	<p></p>	
	<div class="event-text">
		<h1>Add Content</h1>
	</div>
</div>








{% endblock %}