{% extends '::base.html.twig' %}
{% block body %}
{{ include('::nav.html.twig') }}
<div class="container">
	<p></p>	
	<div class="event-text">
		<h1>Create Star</h1>
	</div>
</div>
<div class="container">
<div class="row">
	<form method="post" action="create" class="form-horizontal" role="form">
		<input type="hidden" name="event-id" value="{{ event.eventId }}" />
	<div class="col-md-8">
	<div class="form-group">
		<div class="col-md-10">
			<input class="form-control input-lg" type="text" name="star-name" id="star-name" size="255" required="required" placeholder="Star Name"/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-10">
			 <textarea class="ckeditor" cols="80" id="star-description" name="star-description" rows="10"><b>STAR DESCRIPTION</b></textarea>
			 <script>
			// Replace the <textarea id="editor"> with an CKEditor
			// instance, using default configurations.
			CKEDITOR.replace( 'category-desc', {
				
			});
		</script>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button name="submit" type="submit" class="btn btn-lg btn-primary">Create Star</button>
		</div>
	</div>
	</div>
	 <div class="col-md-4">
	  <ul class="list-group">
        <li class="list-group-item list-group-item-success">
            <b>Select Categories</b>
        </li>
        {% for category in categories %}
        <li class="list-group-item">
            <input type="checkbox" name="category-check[]" value="{{ category.id }}">  {{ category.categoryName}} </input><br/>
        </li>
        {% endfor %}
     </ul>   
	 </div>
</form>
</div>
</div>
{% endblock %}