{% extends '::base.html.twig' %}
{% block body %}
{{ include('::nav.html.twig') }}

<div class="container">
<h1>Category Creation:  {{ event.eventName }}</h1>
<div id="nav">
	<p style="float:left;">
        <!-- LEFT NAV GOES HERE -->	
	</p>
</div>
</div>

<div class="container">
<div class="row">
  <div class="col-xs-8 col-sm-4">
  	<form method="post" action="" class="form-horizontal" role="form">
	<input type="hidden" name="event-id" value="{{ event.eventId }}"/>
	<div class="form-group">
		<div class="col-xs-12">
		<input class="form-control input-lg" type="text" name="category-name" id="category-name" value="" size="120" required="required" placeholder="Category Name" />
		</div>
	</div>
	<div class="form-group">
   		<div class="col-sm-4"> 
			<button name="submit" value="Save" type="submit" class="btn btn-lg btn-primary">Save</button>&nbsp;&nbsp;
		</div>
  	</div>
	</div>
  </div>
</div>

{% endblock %}
